<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
   <div class="container-fluid">
    <p>&copy; 2023 Anubhav Systems. All rights reserved. | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></p>
  </div>
</nav>
</footer>