<!-- Name - Anubhav CHAUHAN
Student-ID - 301309820 -->
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/content/style.css' />
    <link rel='stylesheet' href='/content/home.css'/>
    <link rel='stylesheet' href="/content/about.css"/>
    <link rel="stylesheet" href="/content/project.css">
    <link rel="stylesheet" href="/content/service.css">
    <link rel="stylesheet" href="/content/contact.css">
    <link rel='stylesheet' href="/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>