<!-- Name - Anubhav CHAUHAN
Student-ID - 301309820 -->


<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="welcome-message">
  <img src="/assets/images/images.jpeg" alt="Your Profile Picture" class="img-about">
  <h1><b>ANUBHAV CHAUHAN</b></h1>
  <p>Hi, I am a web developer. I am passionate about building beautiful and functional websites, and I strive to continuously improve my skills and knowledge in this field. I look forward to using my skills to bring your ideas to life.</p>
  <a href="/assets/documents/anubhav.pdf" class="btn-1" download>Download My Resume</a>
</div>
