<!-- Name - Anubhav CHAUHAN
Student-ID - 301309820 -->
<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>


<div class="hero-component" style="background-color: blue;">
  <div class="hero-content">
    <h2 class="hero-heading">My Projects</h2>
  </div>
</div>

<div class="portfolio-container">
  <div class="card" style="width: 20rem;">
    <img src="/assets/images/snake.jpeg" alt="Project 1 Image">
      <div class="card-body">
        <h5 class="card-title">Sanke Game in Mobile</h5>
        <p class="card-text">The game is played on a touch screen Mobile where the player controls a snake that moves across the screen and eats food while avoiding obstacles. The goal of the game is to make the snake as long as possible without running into the walls or its own tail.</p>
      </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="/assets/images/horse.jpg" alt="Project 1 Image">
      <div class="card-body">
        <h5 class="card-title">NZTR website</h5>
        <p class="card-text">Website for New Zealand horse racing.</p>
      </div>
  </div>

  <div class="card" style="width: 20rem;">
    <img src="/assets/images/dashboard.jpg" alt="Project 1 Image">
      <div class="card-body">
        <h5 class="card-title">Exilent Dashboard</h5>
        <p class="card-text">User friendly Dashboard which help user to keep order status and inventory updated in store.</p>
      </div>
  </div>
</div>
