<!-- Name - Anubhav CHAUHAN
Student-ID - 301309820 -->
<%-include ('partials/header.ejs');%>
<%-include ('partials/main_nav.ejs');%>

<div class="services-page">
    <h1>Services</h1>
    <div class="services-container">
      <div class="service">
        <img src="/assets/images/web.jpeg" alt="Web Development">
        <h2>Web Development</h2>
        <p>I offer web development services, including the design and implementation of responsive websites and web applications.</p>
      </div>
      <div class="service">
        <img src="/assets/images/download.jpeg" alt="Mobile Apps">
        <h2>Mobile Apps</h2>
        <p>I offer mobile app development services, including the design and implementation of custom iOS and Android apps.</p>
      </div>
      <div class="service">
        <img src="/assets/images/prog.jpg" alt="General Programming">
        <h2>General Programming</h2>
        <p>I offer general programming services, including software development, algorithm design, and data analysis.</p>
      </div>
    </div>
  </div>